@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    /* TAMBAHAN: Memberi jarak scroll agar judul tidak ketabrak Navbar (64px + 32px buffer) */
    scroll-padding-top: 6rem; 
  }

  body {
    @apply bg-neutral-50 text-neutral-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-neutral-950 text-neutral-50;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}